@import '../../../styles/settings.scss';

.root {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 120px;


  &_header {
    span, h1  {
      font-family: $sono;
      display: inline-block;
      font-size: 4rem;
      animation: color 3s infinite;
    }

    strong {
      color: $red;
    }
  }
}

@media (max-width: 768px) {
  .root {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    p, span, strong, h1 {
      font-size: 0.8rem;
    }

    img {
      width: 250px;
    }
  }
};

@keyframes color {
  0% {
    color: $red;
  }
  50% {
    color: $light;
  }
  100%{
    color: $red;
  }
}