@import '../../../styles/settings.scss';

.root {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    border: 4px solid $dark-purple;
    outline: none;
    margin-bottom: 20px;
  }

  input:focus {
    border: 4px solid $green;
    outline: none;
  }
  
  h2,h3,h4 {
    text-align: center;
  }

  &_header  {
    border-bottom: 2px solid $dark-purple;
    padding-bottom: 45px;
    width: 50%;
  }

  &_variables {
    display: flex;
    flex-direction: column;
    padding: 45px 0;
    margin-bottom: 45px;
    align-items: center;
    border-bottom: 2px solid $dark-purple;
    width: 50%;

    &_custom {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 45px;

    }

    &_var {
      text-align: center;
      p {
        font-size: .6rem;
        color: $grey;
      };
    }

    &_var:hover {
      cursor: pointer;

      h4 {
        color: $red;
      }
    }
  }

  &_btns {
    padding: 45px 0;

    p {
      color: $red;
      text-align: center;
    }
    
    &_btn {
      text-align: center;
      border: 4px solid $dark-purple;
      padding: 5px 15px;
      cursor: pointer;
      margin: 5px 0;
    }

    &_btn:hover {
      background-color: $green;
    }
  }

  &_length {
    border-bottom: 2px solid $dark-purple;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    
    p {
      color: $grey;
      font-size: 12px;
    }
  }

  &_result {
    h4 {
      color: $green;
    }
  }
}

